@font-face {
  font-family: "Soehne Buch";
  src: url("/fonts/soehne-buch.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
